
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    border:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ### Primary */
    --bright-orange:hsl(31, 77%, 52%);
    --dark-cyan:hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /* ### Neutral */
    --trasparent-white:hsla(0, 0%, 100%, 0.75);
    --very-light-gray:hsl(0, 0%, 95%);

}

body{
    font-size: 15px;
    background-color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* width: 100vh; */

}

.content{

    display: flex;
    max-width: 900px;
    border:1px solid;
    border-radius: 2px solid;
    margin:100px auto;
    display: flex;
    color:var(--very-light-gray);
}

.text{

    font-family: 'Lexend Deca','sans-serif';
    font-size: 400;
    line-height: 1.8;
    height: 150px;
    width: auto;
}

.first{
    background: var(--bright-orange);
}

.second{
    background: var(--dark-cyan);
}


.third{
    background: var(--very-dark-cyan);
}

.car{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 330px;
}

.car > *{
    margin: 30px;
}



h1{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Big Shoulders Display','sans-serif';
    text-transform: uppercase;
}

.btn:hover{
    color: white;
    background-color: none;
    border:2px solid white;
}

.btn{
    
    cursor: pointer;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width: 150px;
    margin-left: 25px;
    margin-bottom: 50px;
    border-radius: 50px;
}

.btnone:hover{
    background-color: orange;

}

.btnone{
    color: var(--bright-orange);
}

.btntwo:hover{
    background-color: var(--dark-cyan);

}

.btntwo{
    color:var(--dark-cyan);
}

.btnthree:hover{
    background-color: var(--very-dark-cyan-dark-cyan);

}

.btnthree{
    color:var(--very-dark-cyan);
}

footer{
    text-align: center;
}



@media screen and (max-width:700px){
    .content{
        flex-direction: column;
        max-width: 300px;
        border:1px solid;
        margin:100px auto;
    }

    .car{
        height: 400px;
    }

    .car > *{
        margin: 20px;    
    }

}
